.mr-sm {
  margin-right: 10px;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtitle {
  text-transform: capitalize;
}

.post-collection {
  max-height: 400px;
  overflow: scroll;

  .collection-item {
    a {
      color: #222;
    }
    &:hover {
      background: #e8e8e8;
    }
  }

  .icon {
    height: 20px;
    width: 20px;
    padding: 5px;
    border: 0.5px solid #df4c4c;
    color: #df4c4c;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      background: #b43b3b;
      color: #fff;
    }
  }
}

.player-container {
  display: flex;
  flex-direction: column;
  text-align: left;

  label {
    font-size: 15px;
    margin-bottom: 8px;
    color: rgb(36, 141, 92);
    text-transform: capitalize;
  }
}

audio {
  &:focus {
    outline: none;
  }
}

.btn-floating {
  height: 30px;
  width: 30px;
  line-height: 30px;

  svg {
    font-size: 10px;
  }
}
