/* RGB */
$color1: rgba(27, 153, 139, 1);
$color2: rgba(237, 33, 124, 1);
$color3: rgba(45, 48, 71, 1);
$color4: rgba(255, 253, 130, 1);
$color5: rgba(255, 155, 113, 1);
$color6: rgba(220, 220, 220, 1);
$color7: rgb(223, 45, 45);
