@import '../../palette.scss';

.form-container {
  min-height: 50vh;

  button {
    background: $color3 !important;
    transition: 0.1s;

    &:hover {
      background: darken($color3, 10%) !important;
    }

    &.cancel {
      background: $color7 !important;
      &:hover {
        background: darken($color7, 10%) !important;
      }
    }
  }
}
