@import '../../palette.scss';

.container-fluid {
  box-sizing: border-box;
  padding: 4rem 0;
  background: $color6;
  color: $color5;

  &.banner {
    background: linear-gradient(210deg, $color1, $color3);
  }
}
