@import '../../palette.scss';

.container-fluid {
  box-sizing: border-box;
  padding: 2rem 3rem;
  // background: #eee;

  &.banner {
    background: linear-gradient(210deg, $color1, $color3);
  }
}
