@import '../../palette.scss';

nav {
  background: linear-gradient(210deg, $color2, $color3);

  .dropdown-content {
    top: 64px !important;
  }

  svg.fa-home {
    width: 20px !important;

    &:hover {
      color: #ddd;
    }
  }
}
